<div class="modal-header">
	<h5 class="modal-title">{{ 'ENRICHED_TEXT' | translate }}</h5>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="dismiss()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<form [formGroup]="form">
		<ul ngbNav #nav="ngbNav" [(activeId)]="activeNavId" class="nav-tabs">
			<li [ngbNavItem]="1">
				<a ngbNavLink>{{ 'INFO' | translate }}</a>
				<ng-template ngbNavContent>
					<div class="form-group">
						<label>{{ 'CONTENT' | translate }}</label>
						<ckeditor [editor]="Editor" formControlName="value"></ckeditor>
					</div>
					<div class="form-group row">
						<label class="col-sm-3 col-form-label">{{ 'CLASS_LIST' | translate }}</label>
						<div class="col-sm-9">
							<input type="string" class="form-control" formControlName="classList">
						</div>
					</div>
				</ng-template>
			</li>
			<!-- <li [ngbNavItem]="2">
        <a ngbNavLink>Display settings</a>
        <ng-template ngbNavContent>
          <ngx-form-builder-display-settings formControlName="display-settings"></ngx-form-builder-display-settings>
        </ng-template>
      </li> -->
		</ul>
		<div [ngbNavOutlet]="nav"></div>

	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-danger" (click)="dismiss()">{{ 'CANCEL' | translate }}</button>
	<button type="button" class="btn btn-primary" [disabled]="form.invalid"
		(click)="saveAndDismiss()">{{ 'ACCEPT' | translate }}</button>
</div>