<nav class="navbar fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="#">Nav Bar</a>
</nav>
<main class="container">
  <div>
    <h4>Fomulario</h4>
    <form [formGroup]="reactiveForm">
      <form-builder formControlName="schema" (onchange)="onChange($event)"></form-builder>
    </form>
    <div class="my-4 text-right">
      <button class="btn btn-primary" (click)="viewJson()">
        ViewJson
      </button>
    </div>
  </div>
  <!-- <code>
    <pre>Touched: {{ reactiveForm.touched }}</pre>
    <pre>Dirty: {{ reactiveForm.dirty }}</pre>
    <pre>{{ reactiveForm.value | json }}</pre>
  </code> -->
</main>
