<!-- Tab links -->
<div class="tab">
  <button id = "1" class="tablinks" (click)="openCity('S',1)">Solicitados</button>
  <button id = "2" class="tablinks" (click)="openCity('P',2)">Pendientes</button>
  <button id = "3" class="tablinks" (click)="openCity('A',3)">Aprobados</button>
</div>

<div id="S" class="tabcontent">
  <div class="col-12">
    <div *ngFor="let forms of formsRequested" style="width: 25rem;">
        <div class="container">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <h3>{{ forms.name }}</h3>
                    <p >{{ forms.description }}</p>
                </div>
            </div>
           <div class="face face2">
               <div class="content">
                    <div class="btn-group" style="width:100%">
                        <a routerLink="/get/{{template._id}}" class="btn btn-outline-success">Ver</a>
                        <a routerLink="/update/{{template._id}}" class="btn btn-outline-primary">Editar</a>
                        <a href="#" class="btn btn-outline-dark">Rutas</a>
                        <a href="#" class="btn btn-outline-danger">Eliminar</a>
                    </div>
               </div>
           </div>
        </div>
        </div>
    </div>
  </div>
</div>

<div id="P" class="tabcontent">
  <h3>Pendientes</h3>
  <p>Paris is the capital of France.</p>
</div>

<div id="A" class="tabcontent">
  <h3>Aprobados</h3>
  <p>Tokyo is the capital of Japan.</p>
</div>