<h1 class="display-4">Formularios</h1>
<ul class="nav nav-tabs" style="padding-top: 10px">
    <li class="tabs nav-item" style="margin-left: 5px">
      <a class="nav-link list-group-item-dark " style="font-size: 20px" href="#">Solicitados</a>
    </li>
    <li class="tabs nav-item" style="margin-left: 5px">
      <a class="nav-link list-group-item-dark " style="font-size: 20px" href="#">Pendientes</a>
    </li>   
    <li class="tabs nav-item"  style="margin-left: 5px">
      <a class="nav-link list-group-item-dark" style="font-size: 20px" href="#">Aprobados</a>
    </li>
  </ul>