<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home and Profiles</title>
	<link rel="stylesheet" href="./home.component.css">
</head>

  <!-- Trebuchet MS 
        Andalé Mono
        Alegreya
  -->
  <div class = "row" style="margin-top: 2%; background-color: rgba(0, 0, 0, 0.357)">
    <div class = "col" style="width: 80%;">
      <h1 style=" font-family:Alegreya; margin-top: 5%; text-align: center; font-size: 160px; color: white;">Formularios dinámicos</h1>
    </div>
    <div class = "col" style="width: 20%;vertical-align: middle">
      <p style="font-family:Alegreya; margin-top: 35%; text-align: right; font-size: 24px; color: white;">En el menu de arriba encontrará opciones para disfrutar las funcionalidades de la pagina y abajo podrá ver detalles de los creadores.</p>
    </div>
  </div>
  
  <div class = "row" style="text-align: center; padding:10% 0% 10% 0% ; margin-top: 20%; margin-bottom: 3%; background-color: rgba(0, 0, 0, 0.357); "> 
    <div class = "col" style="margin:5%;">
      <div class="image-area" >
        <div class="img-wrapper">
          <img src="https://i.imgur.com/AMu5Xjs.jpg" alt="Atul Prajapati">
          <h2>Esteban Madrigal</h2>
          <ul>
            <li><a href="https://github.com/madri308"><i class="fab fa-github"></i></a></li>
            <li><a href="https://www.instagram.com/atulkprajapati2000/"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://twitter.com/atuljustano"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCf-KfxuY8PZBSD_8RW2nYsw"><i class="fab fa-youtube"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class = "col" style="margin:5%;">
      <div class="image-area" >
        <div class="img-wrapper">
          <img src="https://i.imgur.com/zg9KK5W.jpg?1" alt="Atul Prajapati">
          <h2>Kevin Fallas</h2>
          <ul>
            <li><a href="https://github.com/KevinFallas03"><i class="fab fa-github"></i></a></li>
            <li><a href="https://www.instagram.com/atulkprajapati2000/"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://twitter.com/atuljustano"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCf-KfxuY8PZBSD_8RW2nYsw"><i class="fab fa-youtube"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class = "col" style="margin:5%;">
      <div class="image-area" >
        <div class="img-wrapper">
          <img src="https://i.imgur.com/qWH4IhH.jpg" alt="Atul Prajapati">
          <h2>Josue Rojas</h2>
          <ul>
            <li><a href="https://github.com/JOSUERV99"><i class="fab fa-github"></i></a></li>
            <li><a href="https://www.instagram.com/atulkprajapati2000/"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://twitter.com/atuljustano"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCf-KfxuY8PZBSD_8RW2nYsw"><i class="fab fa-youtube"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class = "col" style="margin:5%;">
      <div class="image-area" >
        <div class="img-wrapper">
          <img src="https://i.imgur.com/5cZC1vr.jpg" alt="Atul Prajapati">
          <h2>David Castro</h2>
          <ul>
            <li><a href="https://github.com/dcastro18"><i class="fab fa-github"></i></a></li>
            <li><a href="https://www.instagram.com/atulkprajapati2000/"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://twitter.com/atuljustano"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCf-KfxuY8PZBSD_8RW2nYsw"><i class="fab fa-youtube"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class = "col" style="margin:5%;">
      <div class="image-area" >
        <div class="img-wrapper">
          <img src="https://images.pexels.com/photos/1220757/pexels-photo-1220757.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Atul Prajapati">
          <h2>Kenneth Sanchez</h2>
          <ul>
            <li><a href="https://github.com/KennethS0"><i class="fab fa-github"></i></a></li>
            <li><a href="https://www.instagram.com/atulkprajapati2000/"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://twitter.com/atuljustano"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCf-KfxuY8PZBSD_8RW2nYsw"><i class="fab fa-youtube"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<footer></footer>
</html>