<header>

</header>

<title>Usuarios</title>
  <body>
    <div class="container">
  <div class="jumbotron mt-3">
    <h1>Crear Usuario</h1>
    <p class="lead">Desde aqui podras crear nuevos usuarios.</p>
    <a routerLink="create" class="btn btn-lg btn-primary" role="button">Crear Usuario »</a>
  </div>
  <div class="jumbotron mt-3">
    <h1>Editar Usuarios</h1>
    <p class="lead">Desde aqui podras editar a los usuarios.</p>
    <a routerLink="edit" class="btn btn-lg btn-primary" role="button">Editar Usuario »</a>
  </div>
</div>

<footer>

</footer>