<!--The code to display images -->
<div class="card-columns" style="margin-top: 50px;">
    <div *ngFor="let template of templates" style="width: 18rem;">
        <div class="container" >
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">{{ template.name }}</h5>
            <p class="card-text">{{ template.description }}</p>
            <a routerLink="/filltemplate/{{ template._id }}" class="btn btn-primary">Generar</a>
            </div>
        </div>
        </div>
    </div>
</div>