<div class="modal-header">
  <h5 class="modal-title">{{ 'TABS_EDITION' | translate }}</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form [formGroup]="form">
    <ul ngbNav #nav="ngbNav" [(activeId)]="activeNavId" class="nav-tabs">
      <li [ngbNavItem]="1">
        <a ngbNavLink>{{ 'PROPERTIES' | translate }}</a>
        <ng-template ngbNavContent>
          <fieldset>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">{{ 'KEY' | translate }} <sup class="text-danger">*</sup></label>
              <div class="col-sm-9">
                <input type="string" class="form-control" formControlName="key">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">{{ 'LABEL' | translate }} <sup class="text-danger">*</sup></label>
              <div class="col-sm-9">
                <input type="string" class="form-control" formControlName="description">
              </div>
            </div>
            <div class="form-check mb-3" *ngIf="form.get('format').value === 'dropdown'">
              <input class="form-check-input" type="checkbox" formControlName="multiple">
              <label class="form-check-label">
                {{ 'MULTIPLE' | translate }}
              </label>
            </div>
            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" formControlName="required">
              <label class="form-check-label">
                {{ 'REQUIRED' | translate }}
              </label>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">{{ 'TYPE' | translate }}</label>
              <div class="col-sm-9">
                <select class="form-control" formControlName="format">
                  <option *ngFor="let format of formats" [value]="format">{{ format }}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">{{ 'PLACEHOLDER' | translate }}</label>
              <div class="col-sm-9">
                <input type="string" class="form-control" formControlName="placeholder">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">{{ 'DEFAULT_VALUE' | translate }}</label>
              <div class="col-sm-9">
                <input type="string" class="form-control" formControlName="default">
              </div>
            </div>
          </fieldset>
          <fieldset>
            <legend>{{ 'FEEDING_TYPE' | translate }}</legend>
            <div class="form-check form-check-inline mb-3">
              <label class="form-check-label mr-4">
                <input class="form-check-input" formControlName="feeding_type" type="radio" value="static">
                {{ 'STATIC' | translate }}
              </label>
              <label class="form-check-label">
                <input class="form-check-input" formControlName="feeding_type" type="radio" value="external">
                {{ 'EXTERNAL' | translate }}
              </label>
            </div>
          </fieldset>
          <ng-container
            *ngIf="form.get('feeding_type').value === 'static'; then staticOptionsTpt; else externalOptionsTpt">
          </ng-container>
          <ng-template #staticOptionsTpt>
            <fieldset>
              <legend>{{ 'OPTIONS' | translate }}</legend>
              <div formArrayName="properties" *ngFor="let item of properties.controls; index as i;"
                class="form-group row">
                <ng-container [formGroupName]="i">
                  <div class="col-auto" style="line-height: 32px;"><strong>{{ i + 1 }}</strong></div>
                  <div class="col px-1">
                    <input type="string" class="form-control" formControlName="value">
                  </div>
                  <div class="col px-1">
                    <input type="string" class="form-control" formControlName="description">
                  </div>
                  <div class="col-auto">
                    <button class="btn btn-link text-danger mx-0" (click)="removeByIndex(i)">
                      <svg style="height: 1rem;" aria-hidden="true" focusable="false" data-prefix="far"
                        data-icon="trash-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                        class="svg-inline--fa fa-trash-alt fa-w-14">
                        <path fill="currentColor"
                          d="M268 416h24a12 12 0 0 0 12-12V188a12 12 0 0 0-12-12h-24a12 12 0 0 0-12 12v216a12 12 0 0 0 12 12zM432 80h-82.41l-34-56.7A48 48 0 0 0 274.41 0H173.59a48 48 0 0 0-41.16 23.3L98.41 80H16A16 16 0 0 0 0 96v16a16 16 0 0 0 16 16h16v336a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128h16a16 16 0 0 0 16-16V96a16 16 0 0 0-16-16zM171.84 50.91A6 6 0 0 1 177 48h94a6 6 0 0 1 5.15 2.91L293.61 80H154.39zM368 464H80V128h288zm-212-48h24a12 12 0 0 0 12-12V188a12 12 0 0 0-12-12h-24a12 12 0 0 0-12 12v216a12 12 0 0 0 12 12z"
                          class=""></path>
                      </svg>
                    </button>
                  </div>
                </ng-container>
              </div>
              <div *ngIf="!properties.controls.length" class="alert alert-warning" role="alert">
                {{ 'CLICK_BUTTON_ADD_OPTIONS' | translate }}
              </div>
              <div class="text-right">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="addOption()">
                  <i class="fas fa-plus mr-2"></i>{{ 'ADD' | translate }}
                </button>
              </div>
            </fieldset>
          </ng-template>
          <ng-template #externalOptionsTpt>
            <fieldset [formGroup]="form.get('external_feeding_config')">
              <legend>{{ 'FEEDING_CONFIG' | translate }}</legend>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">{{ 'ENDPOINT' | translate }}</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="endpoint">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">{{ 'VALUE_PORPERTY' | translate }}</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="value_property">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">{{ 'TEXT_PROPERTY' | translate }}</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="text_property">
                </div>
              </div>
            </fieldset>
          </ng-template>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink>{{ 'TRIGGERS' | translate }}</a>
        <ng-template ngbNavContent>
          <ngx-form-builder-triggers formControlName="triggers"></ngx-form-builder-triggers>
        </ng-template>
      </li>
      <!-- <li [ngbNavItem]="3">
        <a ngbNavLink>Display settings</a>
        <ng-template ngbNavContent>
          <ngx-form-builder-display-settings formControlName="display-settings"></ngx-form-builder-display-settings>
        </ng-template>
      </li> -->
    </ul>
    <div [ngbNavOutlet]="nav"></div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="dismiss()">{{ 'CANCEL' | translate }}</button>
  <button type="button" class="btn btn-primary" [disabled]="form.invalid"
    (click)="saveAndDismiss()">{{ 'ACCEPT' | translate }}</button>
</div>
