<form [formGroup]="form">
  <ng-container *ngIf="items.controls.length; then withTriggersTpt; else withoutTriggersTpt"></ng-container>
  <ng-template #withoutTriggersTpt>
    <div class="alert alert-info mt-3 mb-4" role="alert">
      <div class="d-flex align-items-center">
        <i class="fas fa-info mr-4 fa-2x"></i>
        <p class="mb-0">{{ 'NO_TRIGGERS' | translate }}</p>
      </div>
    </div>
  </ng-template>
  <ng-template #withTriggersTpt>
    <ng-container formArrayName="items">
      <div class="card mb-4" *ngFor="let trigger of items.controls; let i=index" [formGroupName]="i">
        <div class="card-body">
          <div class="row align-items-center mb-4">
            <h4 class="col card-title">{{ 'TRIGGER' | translate }} #{{ i + 1 }}</h4>
            <div class="col d-flex">
              <button class="btn btn-danger ml-auto" (click)="removeTrigger(items, i)">
                <i class="far fa-trash-alt mr-2"></i>{{ 'REMOVE' | translate }}
              </button>
            </div>
          </div>
          <fieldset>
            <legend>{{ 'IF' | translate }}</legend>
            <ng-container *ngIf="trigger.get('if')['controls']?.length; then ifIfTpt; else placeholderTpt">
            </ng-container>
            <ng-template #ifIfTpt>
              <ul class="list-group list-group-flush mb-4" formArrayName="if">
                <ng-container *ngFor="let antecedent of trigger.get('if')['controls']; let j=index; let last = last;">
                  <li class="list-group-item" [formGroupName]="j">
                    <div class="row">
                      <div class="col">
                        <div class="row">
                          <div class="col-2">
                            <select class="form-control" formControlName="type">
                              <option value="control">{{ 'CONTROL' | translate }}</option>
                              <option value="value">{{ 'VALUE' | translate }}</option>
                            </select>
                          </div>
                          <div class="col-2">
                            <input type="text" formControlName="value" [placeholder]="'FIELD' | translate"
                              class="form-control">
                          </div>
                          <div class="col-2">
                            <select class="form-control" formControlName="operator">
                              <option *ngFor="let operator of operators" [value]="operator">{{ operator }}
                              </option>
                            </select>
                          </div>
                          <div class="col-2">
                            <select class="form-control" formControlName="type2">
                              <option value="control">{{ 'CONTROL' | translate }}</option>
                              <option value="value">{{ 'VALUE' | translate }}</option>
                            </select>
                          </div>
                          <div class="col-2">
                            <input type="text" formControlName="value2" [placeholder]="'FIELD' | translate"
                              class="form-control">
                          </div>
                          <div class="col-2" *ngIf="!last">
                            <select class="form-control" formControlName="boolean">
                              <option value="and">{{ 'AND' | translate }}</option>
                              <option value="or">{{ 'OR' | translate }}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-auto">
                        <button class="btn btn-link text-danger" (click)="removeTrigger(trigger.get('if'), j)">
                          <i class="far fa-trash-alt"></i>
                        </button>
                      </div>
                    </div>
                  </li>
                </ng-container>
              </ul>
            </ng-template>
          </fieldset>
          <div class="text-right">
            <button class="btn btn-link" (click)="addAntecedent(trigger.get('if'))">
              <i class="fas fa-plus mr-2"></i>{{ 'ADD_ANTECEDENT' | translate }}
            </button>
          </div>
          <fieldset>
            <legend>{{ 'THEN' | translate }}</legend>
            <ng-container *ngIf="trigger.get('then')['controls']?.length; then ifThenTpt; else placeholderTpt">
            </ng-container>
            <ng-template #ifThenTpt>
              <ul class="list-group list-group-flush mb-4" formArrayName="then">
                <ng-container *ngFor="let consequence of trigger.get('then')['controls']; let k=index">
                  <li class="list-group-item" [formGroupName]="k">
                    <div class="row">
                      <div class="col">
                        <div class="row">
                          <div class="col">
                            <input type="text" formControlName="control" [placeholder]="'CONTROL_PATH' | translate"
                              class="form-control">
                          </div>
                          <label class="col-form-label">{{ 'IS' | translate }} </label>
                          <div class="col">
                            <select class="form-control" formControlName="action">
                              <option *ngFor="let action of actions" [value]="action">
                                {{ action }}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-auto">
                        <button class="btn btn-link text-danger" (click)="removeTrigger(trigger.get('then'), k)">
                          <i class="far fa-trash-alt"></i>
                        </button>
                      </div>
                    </div>
                  </li>
                </ng-container>
              </ul>
            </ng-template>
          </fieldset>
          <div class="text-right">
            <button class="btn btn-link" (click)="addConsequence(trigger.get('then'))">
              <i class="fas fa-plus mr-2"></i>{{ 'ADD_CONSEQUENCE' | translate }}
            </button>
          </div>
          <fieldset>
            <legend>{{ 'ELSE' | translate }}</legend>
            <ng-container *ngIf="trigger.get('else')['controls']?.length; then ifElseTpt; else placeholderTpt">
            </ng-container>
            <ng-template #ifElseTpt>
              <ul class="list-group list-group-flush mb-4" formArrayName="else">
                <ng-container *ngFor="let consequence of trigger.get('else')['controls']; let l=index">
                  <li class="list-group-item" [formGroupName]="l">
                    <div class="row">
                      <div class="col">
                        <div class="row">
                          <div class="col">
                            <input type="text" formControlName="control" [placeholder]="'CONTROL_PATH' | translate"
                              class="form-control">
                          </div>
                          <label class="col-form-label">{{ 'IS' | translate }} </label>
                          <div class="col">
                            <select class="form-control" formControlName="action">
                              <option *ngFor="let action of actions" [value]="action">
                                {{ action }}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-auto">
                        <button class="btn btn-link text-danger" (click)="removeTrigger(trigger.get('else'), l)">
                          <i class="far fa-trash-alt"></i>
                        </button>
                      </div>
                    </div>
                  </li>
                </ng-container>
              </ul>
            </ng-template>
          </fieldset>
          <div class="text-right">
            <button class="btn btn-link" (click)="addConsequence(trigger.get('else'))">
              <i class="fas fa-plus mr-2"></i>{{ 'ADD_CONSEQUENCE' | translate }}
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-template>
  <div class="d-flex">
    <button class="btn btn-secondary ml-auto" (click)="addTrigger()">
      <i class="fas fa-plus mr-2"></i>{{ 'ADD_TRIGGER' | translate }}
    </button>
  </div>
</form>


<ng-template #placeholderTpt>
  <div class="placeholder"></div>
</ng-template>
