body{
  margin-left: 3%;
  padding: 0;
  min-height: 100vh;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  font-family: arial;
}

.container{
  width: 500px;
  display: contents;
  justify-content: space-between;
}

.container .card{
  position: relative;
  border:none;
  cursor: pointer;
}

.container .card .face{
  width: 100%;
  height: 130px;
  transition: 0.5s;
}

.container .card .face.face1{
  position: relative;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container .card:hover .face.face1{
  background: #504168e0;
  transform: translateY(0);
}

.container .card .face.face1 .content{
  opacity: 0.8;
  transition: 0.3s;
}

.container .card:hover .face.face1 .content{
  opacity: 1;
}

.container .card .face.face1 .content h3{
  margin: 10px 0 0;
  padding: 0;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 1.5em;
}

.container .card .face.face2{
  position: relative;
  background: #fff;
  display: content;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transform: translateY(-30px);
}

.container .card:hover .face.face2{
  transform: translateY(0);
}

.container .card .face.face2 .content p{
  margin: 0;
  padding: 0;
}

.container .card .face.face2 .content a{
  margin: 15px 0 0;
  display:  inline-block;
  font-family: arial;
  padding: 5px;
}