<form [formGroup]="form">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="row">
        <div class="col-2">{{ 'SCREEN_SIZE' | translate }}</div>
        <div class="col-5">{{ 'COLS' | translate }}</div>
        <div class="col-5">{{ 'Offset' | translate }}</div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{ 'XS' | translate }}XS</label>
        <div class="col-sm-5">
          <select class="form-control" formControlName="col">
            <option *ngFor="let size of columnSizes" [value]="size">{{ size }}</option>
          </select>
        </div>
        <div class="col-sm-5">
          <select class="form-control" formControlName="offset">
            <option *ngFor="let offset of offsetSizes" [value]="offset">{{ offset }}</option>
          </select>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{ 'SM' | translate }}SM</label>
        <div class="col-sm-5">
          <select class="form-control" formControlName="col-sm">
            <option *ngFor="let size of columnSizes" [value]="size">{{ size }}</option>
          </select>
        </div>
        <div class="col-sm-5">
          <select class="form-control" formControlName="offset-sm">
            <option *ngFor="let offset of offsetSizes" [value]="offset">{{ offset }}</option>
          </select>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{ 'MD' | translate }}</label>
        <div class="col-sm-5">
          <select class="form-control" formControlName="col-md">
            <option *ngFor="let size of columnSizes" [value]="size">{{ size }}</option>
          </select>
        </div>
        <div class="col-sm-5">
          <select class="form-control" formControlName="offset-md">
            <option *ngFor="let offset of offsetSizes" [value]="offset">{{ offset }}</option>
          </select>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{ 'LG' | translate }}LG</label>
        <div class="col-sm-5">
          <select class="form-control" formControlName="col-lg">
            <option *ngFor="let size of columnSizes" [value]="size">{{ size }}</option>
          </select>
        </div>
        <div class="col-sm-5">
          <select class="form-control" formControlName="offset-lg">
            <option *ngFor="let offset of offsetSizes" [value]="offset">{{ offset }}</option>
          </select>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{ 'XL' | translate }}</label>
        <div class="col-sm-5">
          <select class="form-control" formControlName="col-xl">
            <option *ngFor="let size of columnSizes" [value]="size">{{ size }}</option>
          </select>
        </div>
        <div class="col-sm-5">
          <select class="form-control" formControlName="offset-xl">
            <option *ngFor="let offset of offsetSizes" [value]="offset">{{ offset }}</option>
          </select>
        </div>
      </div>
    </li>
  </ul>
</form>
<ng-template #optionsTpt>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
  <option value="11">11</option>
  <option value="12">12</option>
  <option value="auto">{{ 'Auto' | translate }}</option>
  <option value="equal">{{ 'Equal' | translate }}</option>
</ng-template>
