/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

.clearfix{clear:both;}
.pointer{cursor: pointer;}
.ucfirst{text-transform: capitalize;}
.min300{min-height:300px}
.app-box{
    padding: 10px;
    margin-bottom:20px;
    height: 230px;
    background: #b5e8d4;
    overflow: hidden;
    box-shadow: 1px 1px 4px #ccc;
}
.app-box:hover{
    box-shadow: 1px 1px 4px #999;
}
.app-box .remove{
    position: absolute;
    right: 21px;
    top: 0px;
    color: #545454;
    display:none;
}
.app-box:hover .remove{
    display:block;
}
.inline-btn{
    background: #00b970;
    padding: 1px 5px;
    color: white;
    display: inline-block;
    margin-bottom: 5px;
}
.box{
    padding: 10px;
    margin-bottom:10px;
    overflow: auto;
    box-shadow: 1px 1px 4px #ddd;
}
.form-group .form-control{
    font-size:inherit;
    background-color: inherit;
}

.dndDropArea{
    padding: 10px;
    /* border: dotted #ddd 2px; */
}

.dndDropArea.empty{
    min-height:200px;
    border: dotted #ddd 2px;
}

.field{
    padding:5px;
    margin-bottom:10px;
    position: relative;
}
.field:hover{
    box-shadow: 1px 1px 4px #ddd;
}
.toggle-Wrapper{
    padding: 15px;
    background: #d6d6d629;
}
.dndHandle{
    cursor: pointer;
    color: #999;
}
.dndDraggingSource{
    opacity:0.3;
}
.dndPlaceholder{
    background: rgb(206, 238, 238); border-radius: 2px; padding: 20px;
    margin-bottom:10px;
}
.field .fa{
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    vertical-align: middle;

}
.red{color:#d9534f}
.fa-trash{color:#d9534f}
.marginT60{
    margin-top:60px;
}

.color-red{color:red;}
.report-block{
    padding:10px;
    background:#f8f8f8;
    margin-bottom:20px;
}
.report-block .row:nth-child(even){
    background:#fff;
}

.ftheme{
    width:100%;
}

.dndDropArea .field .fa{
    opacity:0;
}
.dndDropArea .field:hover .fa{
    opacity:1;
}

.colorpick{
    height: 25px;
    background: white;
    border: none;
}

body{
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	background-color:#CCC;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}

.sticky-container{
    padding:0px;
    margin:0px;
    position:fixed;
    top:px;
    width:210px;
    z-index: 1100;
    left: -10px;
    width:272px;
}
