
body{
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	background-color:#CCC;
}

.float{
	position: fixed;
	width:75px;
	height:75px;
	right:40px;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    box-shadow: 2px 2px 3px #999;
    font-size:40px;
}

.my-float{
    margin-top:18px;
}