
<div class="container-fluid side-left">
<div class="card text-center" id="b">
  <div class="jumbotron">
    <h1 class="display-4">Ya casi terminas...</h1>
    <p class="lead">Agrega las rutas de aprobacion para la plantilla {{ selectedTemplate.name }}</p>
  </div>

  <mat-form-field [formGroup]="approvalForm" appearance="fill">

    <mat-label>Authors</mat-label>
    <mat-select formControlName="authors" placeHolder="" multiple>
      <mat-select-trigger>
        {{users.value ? users.value[0] : ''}}
      </mat-select-trigger>
      <mat-option *ngFor="let user of users" [value]="user">{{user.username}}</mat-option>
    </mat-select>

    <div style="margin: 4%;"></div>

    <mat-label>Approvers</mat-label>
    <mat-select formControlName="approvers" placeHolder="" multiple>
      <mat-select-trigger>
        {{users.value ? users.value[0] : ''}}
      </mat-select-trigger>
      <mat-option *ngFor="let user of users" [value]="user">{{user.username}}</mat-option>
    </mat-select>

  </mat-form-field>

  </div>
</div>
