.approval-section {
    margin: 3%;
}

.list-group-item, .ui-sortable-handle {
    position: relative; 
    z-index: 2; 
    left: 0px; 
    top: 0px;
    size: inherit;
}

.form-group {
    margin: 3%;
}

.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }
