<div class="modal-header">
  <h4 class="modal-title" id="modal-title">{{ 'FIELDSET' | translate }}</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body" style="max-height: 72vh; overflow-y: scroll;">
  <form [formGroup]="form">
    <ul ngbNav #nav="ngbNav" [(activeId)]="activeNavId" class="nav-tabs">
      <li [ngbNavItem]="1">
        <a ngbNavLink>{{ 'PROPERTIES' | translate }}</a>
        <ng-template ngbNavContent>
          <div class="form-group">
            <label>{{ 'KEY' | translate }} <sup class="text-danger">*</sup></label>
            <input type="text" formControlName="key" class="form-control">
          </div>
          <div class="form-group">
            <label>{{ 'LEGEND' | translate }} <sup class="text-danger">*</sup></label>
            <input type="text" formControlName="description" class="form-control">
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink>{{ 'TRIGGERS' | translate }}</a>
        <ng-template ngbNavContent>
          <ngx-form-builder-triggers formControlName="triggers"></ngx-form-builder-triggers>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="cancel()">{{ 'CANCEL' | translate }}</button>
  <button type="button" class="btn btn-primary" (click)="save()"
    [disabled]="form.invalid">{{ 'ACCEPT' | translate }}</button>
</div>
