<h1>Selección de usuario</h1>
<!-- Form seleccion de usuario -->
<form #selectUser="ngForm" (ngSubmit)="accessEdit()">
    <div class="form-group">
        <!-- Combobox -->
        <select name="usersCombo" [(ngModel)]="selectedUser.id">
            <option *ngFor="let user of userList" [value]="user._id">{{user.username}}</option>
        </select>
        <!-- Select button -->
        <button class="btn btn-primary" type="submit">Editar</button>
    </div>
</form>
<hr>
<!-- Editar información del usuario -->
<div *ngIf="isSelected">
    <h1>Editar información de {{selectedUser.username}}</h1>
    <form #editUserForm="ngForm" (ngSubmit)="editUser()">
        <div class="form-group">
            <label for="UsernameInput">Username</label>
            <input id="UsernameInput" type="text" class="form-control" name="username" [(ngModel)]="selectedUser.username" required>
        </div>
    
        <div class="form-group">
            <label for="passwordInput">Nueva Constraseña</label>
            <input type="text" id="passwordInput" class="form-control" name="password" [(ngModel)]="selectedUser.password">
        </div>

        <div class="form-group">
            <label for="firstNameInput">Primer Nombre</label>
            <input id="firstNameInput" type="text" class="form-control" name="firstName" [(ngModel)]="selectedUser.firstName" required>
        </div>

        <div class="form-group">
            <label for="secondNameInput">Segundo Nombre</label>
            <input id="secondNameInput" type="text" class="form-control" name="secondName" [(ngModel)]="selectedUser.secondName" required>
        </div>

        <div class="form-group">
            <label for="lastNameInput">Primer Apellido</label>
            <input id="lastNameInput" type="text" class="form-control" name="lastName" [(ngModel)]="selectedUser.lastName" required>
        </div>

        <div class="form-group">
            <label for="secLastNameInput">Segundo Apellido</label>
            <input id="secLastNameInput" type="text" class="form-control" name="secLastName" [(ngModel)]="selectedUser.secondLastName" required>
        </div>

        <div class="form-group">
            <label for="emailInput">E-Mail</label>
            <input id="emailInput" type="email" class="form-control" name="email" [(ngModel)]="selectedUser.email" required>
        </div>

        <div class="form-group">
            <label>Permisos de administrador?</label>
            <input type="checkbox" name="isAdmin" [(ngModel)]="selectedUser.isAdmin" >
        </div>
    
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Actualizar</button>
            <button class="btn btn-danger" type="button" (click)="deleteUser()">Borrar Usuario</button>
        </div>
    </form>
</div>