<div class="card text-center">
    <form>
        <div class="form-group">
          <h5 for="templateChooser"class="card-title ">Seleccione el tipo de formulario: </h5>
          <select class="form-control" id="templateChooser">
            <option>JOSUE ROJAS VEGA</option>
          </select>

        </div>
        <div class="form-group">
            <h5 for="authorsChooser"class="card-title authors-chooser">Seleccione los autores: </h5>
            <select class="form-control" id="authorsChooser">
            <option>Author 1</option>
          </select>
        </div>

        <div class="form-group">
            <h5 for="approverChoosers"class="card-title authors-chooser">Seleccione los autores: </h5>
            <select class="form-control" id="approverChoosers">
            <option>Approver 1</option>
          </select>
        </div>

        <input type="submit" class="btn btn-primary form-group" value="Confirmar ruta de aprobacion">
      </form>

    <!-- <div class="card-footer text-muted">
      Mensaje de prueba
    </div> -->
  </div>
