<div class="card text-center">
    <form class="container"  [formGroup]="approvalForm" (submit)="createApprovalRoute(approvalForm.value)">
        <div class="form-group">
          <h5 for="templateChooser"class="card-title ">Seleccione el tipo de formulario: </h5>
          <select class="form-control" id="templateChooser" formControlName="template">
            <option *ngFor="let template of templates" [value]="template.name">{{ template.name }}</option>
          </select>

        </div>
        <div class="form-group">
            <h5 for="authorsChooser"class="card-title authors-chooser">Seleccione los autores: </h5>
            <select class="form-control" id="authorsChooser" formControlName="authors">
            <option *ngFor="let user of users" [value]="user._id">{{ user.username }}</option>
          </select>
        </div>

        <div class="form-group">
          <h5 for="approversChooser"class="card-title authors-chooser">Seleccione los autores: </h5>
          <select class="form-control" id="approversChooser" formControlName="approvers">
          <option *ngFor="let user of users" [value]="user._id" type="checkbox">{{ user.username }}</option>
        </select>
      </div>

        <input type="submit" class="btn btn-primary form-group" value="Confirmar ruta de aprobacion">
      </form>

    <!-- <div class="card-footer text-muted">
      Mensaje de prueba
    </div> -->
  </div>
